<script src="vendor/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendor/angular-route/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendor/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
<script src="app/app.js" type="text/javascript" charset="utf-8"></script>
<script src="app/routes.js" type="text/javascript" charset="utf-8"></script>
<script src="app/controllers.js" type="text/javascript" charset="utf-8"></script>
<script src="app/controllers/HomeCtrl.js" type="text/javascript" charset="utf-8"></script>
<script src="vendor/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>